.pa {
    width: 0; /* Commence avec une largeur de 0 pour l'animation de frappe */
    color: #2186c4; /* Couleur du texte */
    font-size: 2rem; /* Taille de la police */
    font-weight: bold; /* Poids de la police */
    overflow: hidden; /* Masque le texte qui dépasse */
    white-space: nowrap; /* Empêche le texte de se casser */
    border-right: 2px solid; /* Crée un effet de curseur */
    font-family: monospace; /* Police monospace pour l'effet de type */
    animation: typing 2s steps(15) 1s forwards, blink 0.5s step-end infinite; /* Animation de frappe et clignotement */
}

/* Animation de la frappe */
@keyframes typing {
    from {
        width: 0; /* Commence à une largeur de 0 */
    }
    to {
        width: 15ch; /* Atteint la largeur maximale du texte */
    }
}

/* Animation du clignotement du curseur */
@keyframes blink {
    50% {
        border-color: transparent; /* Cache le curseur à la moitié du temps */
    }
}